# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List the popular languages
* List the common libraries
* Simple arithmetic exercises

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. Javascript
4. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Plotly
4. Matplotlib

| Data Science Tools |
| -------- |  
| Hadoop |  
| Spark |  
| Tensor flow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [2]:
(200)/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Fabián Álvarez